@use "../variables";

.main-content {
  margin-top: variables.$navBarHeight;
  padding-top: variables.$standardMargin;
  max-height: calc(100vh - variables.$navBarHeight - variables.$standardMargin);
  height: calc(100vh - variables.$navBarHeight - variables.$standardMargin);
  padding-left: 8vw;
  padding-right: 8vw;
  background-color: var(--surface);
  overflow-y: auto;
}
