.flex-vertical {
  display: flex;
  flex-direction: column;
}

.card-catalog-holder {
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-center-text {
  flex-grow: 1;
  text-align: center;
}
