@if (model.toolTip) {
  <button
    style="white-space: pre-line"
    mat-icon-button
    tabindex="-1"
    [matTooltip]="model.toolTip"
    matTooltipPosition="left"
    matTooltipClass="my-tooltip"
    matTooltipPosition="above"
    aria-hidden="true"
  >
    <mat-icon>info</mat-icon>
  </button>
}

@switch (model.type) {
  @case (stockSourceType) {
    <app-stock-symbol-auto-complete
      [ngModel]="selectedSymbol"
      (symboldIdChanged)="stockSymbolIdConverter($event); setDirty()"
    ></app-stock-symbol-auto-complete>
  }
  @case (numericInput) {
    <mat-form-field class="wide-text-area-header">
      <mat-label>
        {{ model.description }}
      </mat-label>
      <input
        matInput
        required
        type="number"
        [ngModel]="model.value"
        (ngModelChange)="model.value = $event.toString(); setDirty()"
      />
    </mat-form-field>
  }
  @case (bufferInput) {
    <mat-form-field class="wide-text-area-header">
      <mat-label>
        {{ model.description }}
      </mat-label>
      <input
        matInput
        required
        type="number"
        [ngModel]="model.value"
        (ngModelChange)="model.value = $event.toString(); setDirty()"
      />
    </mat-form-field>
  }
  @case (aggregateMethodType) {
    <mat-form-field appearance="fill" class="wide-text-area-header">
      <mat-label>Aggregate Method</mat-label>
      <mat-select [(ngModel)]="model.value" (ngModelChange)="setDirty()">
        <mat-option [value]="aggregateSummation">Summation</mat-option>
        <mat-option [value]="aggregateAverage">Average</mat-option>
        <mat-option [value]="aggregateMultiplicative"
          >Multiplicative</mat-option
        >
      </mat-select>
    </mat-form-field>
  }
  @default {
    <mat-form-field class="wide-text-area-header">
      <mat-label>
        {{ model.description }}
      </mat-label>
      <textarea
        matInput
        required
        [(ngModel)]="model.value"
        (ngModelChange)="setDirty()"
      ></textarea>
    </mat-form-field>
  }
}
