<mat-card class="node-card">
  <mat-card-header
    class="wide-text-area-header card-handle"
    (mousedown)="mouseDown($event)"
    (mouseup)="mouseUp()"
    (mouseleave)="mouseLeave($event)"
    (mousemove)="mouseMoveDrag($event)"
  >
    <mat-card-title class="wide-text-area-header">
      <div class="card-close-header" style="align-items: center">
        <span>{{ model.name }}</span>
        <span class="spacer"></span>
        @if (isClosable) {
          <button class="red-button" mat-icon-button (click)="close()">
            <mat-icon>close</mat-icon>
          </button>
        }
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content style="display: flex; flex-direction: row">
    <div style="display: flex; flex-direction: column">
      @if (model.multiInput) {
        <button class="shrink-button" mat-icon-button (click)="addInput()">
          <mat-icon>add</mat-icon>
        </button>
        <button
          [disabled]="inputs.length <= 1"
          class="shrink-button"
          mat-icon-button
          (click)="removeInput()"
        >
          <mat-icon>remove</mat-icon>
        </button>
      }

      @for (input of inputs; track $index) {
        <div style="display: flex; flex-direction: row; align-items: center">
          <app-strategy-manager-card-input
            [model]="input"
            [initialized]="initialized"
            (connectEvent)="connectCard($event)"
            (removeConnectEvent)="removeConnectCard($event)"
            (initializeEvent)="inputInit($event)"
            (destroyEvent)="inputDestroy($event)"
          />
          <span style="margin: 0 0.5rem">{{ characterAdd($index) }}</span>
        </div>
      }
    </div>
    <div style="flex-grow: 1">
      <div
        class="card-content-centered"
        style="display: flex; flex-direction: column"
      >
        <mat-expansion-panel
          class="card-item-bottom-margin"
          style="width: 100%"
        >
          <mat-expansion-panel-header>
            <mat-panel-title> Card Details </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-form-field
            subscriptSizing="dynamic"
            class="wide-text-area-header"
          >
            <mat-label>Name</mat-label>
            <div>
              <input
                matInput
                type="text"
                [(ngModel)]="model.name"
                (ngModelChange)="setDirty()"
              />
            </div>
          </mat-form-field>

          <mat-card class="wide-text-area-header">
            <mat-card-content>
              <mat-label class="underline-label">Label</mat-label>
              <h3 class="readonly-label">{{ model.label }}</h3>
            </mat-card-content>
          </mat-card>

          <mat-card class="wide-text-area-header">
            <mat-card-content>
              <mat-label class="underline-label">Description</mat-label>
              <p>
                <span>
                  {{ model.description }}
                </span>
              </p>
            </mat-card-content>
          </mat-card>
        </mat-expansion-panel>

        @for (param of model.parameters; track $index) {
          <app-strategy-manager-parameter
            style="width: 100%"
            [model]="param"
            (dirtyEvent)="setDirty()"
          ></app-strategy-manager-parameter>
        }
      </div>
    </div>
    <div style="display: flex; flex-direction: column">
      @if (output) {
        <app-strategy-manager-card-output
          [model]="output"
          [initialized]="initialized"
          (connectEvent)="connectCard($event)"
          (removeConnectEvent)="removeConnectCard($event)"
          (initializeEvent)="outputInit($event)"
          (destroyEvent)="outputDestroy($event)"
        />
      }
      <div class="spacer"></div>
      @if (model.id) {
        <button
          style="background-color: greenyellow"
          (click)="downloadData()"
          mat-icon-button
        >
          <mat-icon>keyboard_arrow_down</mat-icon>
        </button>
      }
    </div>
  </mat-card-content>
</mat-card>
