<mat-toolbar class="tall-toolbar">
  <div style="display: flex">
    <span class="double-button">
      <span>
        <mat-icon matPrefix matTooltip="Zoom"> search </mat-icon>
      </span>
      <button mat-icon-button (click)="zoomOut()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button (click)="zoomIn()">
        <mat-icon>add</mat-icon>
      </button>
    </span>

    <span class="double-button">
      <span>
        <mat-icon matPrefix matTooltip="Width"> width_wide </mat-icon>
      </span>
      <button mat-icon-button (click)="shrinkX()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button (click)="enlargeX()">
        <mat-icon>add</mat-icon>
      </button>
    </span>

    <span class="double-button">
      <span>
        <mat-icon matPrefix matTooltip="Height"> line_weight </mat-icon>
      </span>
      <button mat-icon-button (click)="shrinkY()">
        <mat-icon>remove</mat-icon>
      </button>
      <button mat-icon-button (click)="enlargeY()">
        <mat-icon>add</mat-icon>
      </button>
    </span>
  </div>
  <span class="spacer"></span>

  <mat-form-field appearance="outline" class="tall-form-field">
    <mat-label>Network Name</mat-label>
    <input matInput [(ngModel)]="canvasNameField" />
  </mat-form-field>

  <button mat-button (click)="onSubmit()">Submit</button>
</mat-toolbar>
