<mat-accordion class="stock-data-panels" multi>
  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>Read Stock Data</mat-panel-title>
    </mat-expansion-panel-header>

    <app-stock-manager-stock-data-read></app-stock-manager-stock-data-read>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Upload Stock Data</mat-panel-title>
    </mat-expansion-panel-header>

    <app-stock-manager-stock-data-upload></app-stock-manager-stock-data-upload>
  </mat-expansion-panel>
</mat-accordion>
